{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<style>
    .post-tags {
        text-align: center;
        margin-bottom: 16px;
    }
    .post-tag {
        padding: 5px 15px;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
        letter-spacing: 0.01em;
        background-color: black;
        border-radius: 16px;
        margin: 0 8px;
    }
    .featured-feed {
        border-color: #00CEFF;
    }
    @media (max-width: 701px) {
        .directory-span {
            display: none;
        }
    }
</style>
{{#is "home"}}
    {{#if @site.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@site.description}}</h2>
        </br>
        <div class="post-tags">
            <span class="directory-span" style="font-weight: 700;">Directory: </span>
            <a class="post-tag" href="/level-1">Level 1</a>
            <a class="post-tag" href="/level-2">Level 2</a>
            <a class="post-tag" href="/level-3">Level 3</a>
        </div>
    </header>
    {{/if}}
{{/is}}

{{#get "posts" filter="featured:true" limit="3"}}
    {{#if posts}}
        <h3 class="post-content-title">Featured</h3>
        </br>
        <div class="post-feed gh-feed featured-feed">
            {{#foreach posts}}
                {{> "post-card-symmetric"}}
            {{/foreach}}
        </div>
        </br>
        </br>
        </br>
    {{/if}}
{{/get}}

{{#get "posts" filter="primary_tag:free-trials" limit="20" include="authors"}}
    {{#if posts}}
        <h3 class="post-content-title">Free Trials / Activities</h3>
        </br>
        <style>
            .post-line-feed {
                max-width: 768px;
                margin: 0 auto;
            }
            .post-line {
                position: relative;
                display: flex;
                align-items: center;
                padding: 1.5rem 0;
                overflow: hidden;
                line-height: 1;
                width: 100%;
            }
            .post-line-right {
                margin-right: 2rem;
            }
            .post-line:hover .post-line-title {
                opacity: 0.8;
            }
            .post-line:hover .post-line-right {
                margin-right: 2.5rem;
            }
            .post-line div {
                margin: 0 1rem;
            }
            .post-line-author-image {
                display: flex;
            }
            .post-line-author-image img {
                width: 60px;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 100%;
                margin: 0 auto;
            }
            .post-line-author-name {
                display: flex;
                min-width: 45px;
                margin-right: 1.5rem;
                font-size: 1.1rem;
                font-weight: 800;
                color: var(--brand-color);
                white-space: nowrap;
            }
            .post-line-title {
                flex-grow: 1;
                padding-right: 1rem;
                margin-bottom: 0;
                overflow: hidden;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3;
                text-overflow: ellipsis;
                letter-spacing: 0;
                white-space: nowrap;
            }
            .post-line-right {
                display: flex;
                align-items: center;
                transition: margin 0.2s var(--animation-base);
            }
            .post-line-read-more {
                font-size: 1.4rem;
                color: var(--secondary-text-color);
                white-space: nowrap;
            }
            .icon {
                width: 20px;
                height: 20px;
            }
            .post-line-icon {
                position: absolute;
                right: 0;
                width: 16px;
                height: 16px;
                color: var(--secondary-text-color);
                transition: transform 0.2s var(--animation-base);
                transform: translateX(2rem);
            .post-line-u-permalink {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 50;
            }
        </style>
        <div class="post-feed gh-feed post-line-feed">
            {{#foreach posts}}
                {{> "post-line"}}
            {{/foreach}}
        </div>
        </br>
        </br>
        </br>
    {{/if}}
{{/get}}

<div class="post-feed gh-feed">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</div>

{{#get "posts" filter="primary_tag:instagram" limit="10"}}
    {{#if posts}}
        </br>
        </br>
        </br>
        <h3 class="post-content-title">What's On Our Instagram @195pearlshillterrace<h3>
        <div class="post-feed gh-feed instagram-feed">
            {{#foreach posts}}
                {{> "post-card-instagram"}}
            {{/foreach}}
        </div>
    {{/if}}
{{/get}}
