{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<style>
    .post-tags {
        text-align: center;
        margin-bottom: 16px;
    }
    .post-tag {
        padding: 5px 15px;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
        letter-spacing: 0.01em;
        background-color: black;
        border-radius: 16px;
        margin: 0 8px;
    }
    .featured-feed {
        border-color: #00CEFF;
    }
    #stories {
        scale: 1.15;
    }
    @media (max-width: 701px) {
        .directory-span {
            display: none;
        }
    }
    .post-feed {
        max-width: 1080px;
        margin: 0 auto;
    }
</style>
{{#is "home"}}
    {{#if @site.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@site.description}}</h2>
        </br>
        <div class="post-tags">
            <span class="directory-span" style="font-weight: 700;">Directory: </span>
            <a class="post-tag" href="/level-1">Level 1</a>
            <a class="post-tag" href="/level-2">Level 2</a>
            <a class="post-tag" href="/level-3">Level 3</a>
        </div>
    </header>
    {{/if}}
{{/is}}

<h3 class="post-content-title">Stories</h3>
<small style="text-align: center; display: block;">( *In Beta )</small>
<small style="text-align: center; display: block;" id="storiesTimestamp"></small>
</br>
</br>
<div id="stories" style="text-align:center;"></div>
</br>
</br>
</br>
</br>
<script id="storiesScript"></script>
<script>
    const timestamp = function () {
        let timeIndex = 1678166046264 / 1000;
        let random = Math.floor(Math.random() * 1000);
        return Math.round(timeIndex - random);
    };
    document.getElementById('storiesScript').src = "https://195pearlshillterrace-com.b-cdn.net/instagram/zuck-stories.js?v="+timestamp();
</script>
{{#get "posts" filter="featured:true" limit="3"}}
    {{#if posts}}
        <h3 class="post-content-title">Featured</h3>
        </br>
        </br>
        <div class="post-feed gh-feed featured-feed">
            {{#foreach posts}}
                {{> "post-card-symmetric"}}
            {{/foreach}}
        </div>
        </br>
        </br>
        </br>
        </br>
    {{/if}}
{{/get}}

{{#get "posts" filter="tag:noticeboard" limit="20" include="authors"}}
    {{#if posts}}
        {{!-- <a href="/noticeboard"> --}}
        <h3 class="post-content-title">Noticeboard</h3>
        {{!-- </a> --}}
        </br>
        </br>
        <div class="post-feed gh-feed post-line-feed">
            {{#foreach posts}}
                {{> "post-line"}}
            {{/foreach}}
        </div>
        </br>
        </br>
        </br>
        </br>
    {{/if}}
{{/get}}

{{#get "posts" filter="tag:[happenings, editorial, information]" limit="6" include="authors"}}
    <h3 class="post-content-title">News / Articles</h3>
    </br>
    </br>
    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
{{/get}}

{{!-- 
<div id="instafeed" style="display:flex;"></div>
<script type="text/javascript">
    var feed = new Instafeed({
    accessToken: 'IGQVJXbmxBZAFFPQXU4ZA1VWVHhScTdSQ0RzQWp3bFd0NmN4Q0k0a3ZAYSzUxX01weGJHRnZAuTE8xd2NDZA0VCaHZADelBwRl92R1dZAeWlJUVlzQ0NnTzJSYXgtdy1wOXg0aDR4TnVaY2VRV1huMHBlWkNtbwZDZD'
    limit: 12,
    after: function () {
        var images = $("#instafeed").find('a');
        $.each(images, function(index, image) {
        var delay = (index * 75) + 'ms';
        $(image).css('-webkit-animation-delay', delay);
        $(image).css('-moz-animation-delay', delay);
        $(image).css('-ms-animation-delay', delay);
        $(image).css('-o-animation-delay', delay);
        $(image).css('animation-delay', delay);
        $(image).addClass('animated flipInX');
        });
    },
    });
    feed.run();
</script> --}}

{{#get "posts" filter="primary_tag:instagram" limit="10"}}
    {{#if posts}}
        </br>
        </br>
        </br>
        </br>
        <h3 class="post-content-title">What's On Our Instagram @195pearlshillterrace<h3>
        <div class="post-feed gh-feed instagram-feed">
            {{#foreach posts}}
                {{> "post-card-instagram"}}
            {{/foreach}}
        </div>
    {{/if}}
{{/get}}
