{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<style>
    .post-tags {
        text-align: center;
        margin-bottom: 16px;
    }
    .post-tag {
        padding: 5px 15px;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
        letter-spacing: 0.01em;
        background-color: black;
        border-radius: 16px;
        margin: 0 8px;
    }
    .featured-feed {
        border-color: #00CEFF;
    }
    #stories {
        scale: 1.15;
    }
    @media (max-width: 701px) {
        .directory-span {
            display: none;
        }
    }
    .post-feed {
        max-width: 1080px;
        margin: 0 auto;
    }
</style>
{{#is "home"}}
    {{#if @site.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@site.description}}</h2>
        </br>
        <div class="post-tags">
            <span class="directory-span" style="font-weight: 700;">Directory: </span>
            <a class="post-tag" href="/level-1">Level 1</a>
            <a class="post-tag" href="/level-2">Level 2</a>
            <a class="post-tag" href="/level-3">Level 3</a>
        </div>
    </header>
    {{/if}}
{{/is}}

<h3 class="post-content-title">Stories *Beta</h3>
</br>
<div id="stories" style="text-align:center;"></div>
</br>
</br>
</br>
<script id="storiesScript"></script>
<script>
    const timestamp = function () {
        let timeIndex = 1678166046264 / 1000;
        let random = Math.floor(Math.random() * 1000);
        return Math.round(timeIndex - random);
    };
    document.getElementById('storiesScript').src = "https://195pearlshillterrace-com.b-cdn.net/instagram/zuck-stories.js?v="+timestamp();
</script>
{{#get "posts" filter="featured:true" limit="3"}}
    {{#if posts}}
        <h3 class="post-content-title">Featured</h3>
        </br>
        <div class="post-feed gh-feed featured-feed">
            {{#foreach posts}}
                {{> "post-card-symmetric"}}
            {{/foreach}}
        </div>
        </br>
        </br>
        </br>
    {{/if}}
{{/get}}

{{#get "posts" filter="tag:noticeboard" limit="20" include="authors"}}
    {{#if posts}}
        {{!-- <a href="/noticeboard"> --}}
        <h3 class="post-content-title">Noticeboard</h3>
        {{!-- </a> --}}
        </br>
        <div class="post-feed gh-feed post-line-feed">
            {{#foreach posts}}
                {{> "post-line"}}
            {{/foreach}}
        </div>
        </br>
        </br>
        </br>
    {{/if}}
{{/get}}

{{#get "posts" filter="tag:[happenings, editorial, information]" limit="6" include="authors"}}
    <h3 class="post-content-title">News / Articles</h3>
    </br>
    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
{{/get}}

{{#get "posts" filter="primary_tag:instagram" limit="10"}}
    {{#if posts}}
        </br>
        </br>
        </br>
        <h3 class="post-content-title">What's On Our Instagram @195pearlshillterrace<h3>
        <div class="post-feed gh-feed instagram-feed">
            {{#foreach posts}}
                {{> "post-card-instagram"}}
            {{/foreach}}
        </div>
    {{/if}}
{{/get}}
